body {
  background-color: #f3efe0;
  font-family: 'Georgia', serif;
  color: #4b3e2a;
}

.vintage {
  background-color: #fffaf0;
  border: 2px solid #d2b48c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(100, 80, 50, 0.2);
}

.table-vintage th, .table-vintage td {
  background-color: #fffaf0;
  color: #4b3e2a;
  border-color: #d2b48c;
}
